In [1]:
import pandas as pd

In [18]:
events_path = '../events.csv'
columns = pd.read_csv(events_path, low_memory=False, nrows=20).columns
schema = {}
for col in columns:
    schema[col] = str
schema['time'] = float
schema['position'] = float
schema['num_passengers'] = pd.Int64Dtype()
events = pd.read_csv(events_path, dtype=schema)
display(events.head(2))
display(len(events))
list(events.type.unique())

,type,time,position,person,vehicle,passengers,num_passengers
0,PersonGotToRoad,10806.253601,12338.745843,1314,NaN,NaN,<NA>
1,PersonGotToRoad,10855.218995,379518.634848,987,NaN,NaN,<NA>

30278

['PersonGotToRoad',
 'VehicleTripStarted',
 'PersonBoardedVehicle',
 'VehicleRunOutOfGas',
 'VehicleReachedDestination']

In [25]:
events['riders'] = events.passengers.str.split(':')

In [19]:
events[(events.person == '647')]

,type,time,position,person,vehicle,passengers,num_passengers
61,PersonGotToRoad,12581.391073,11618.337625,647,NaN,NaN,<NA>
428,PersonBoardedVehicle,14830.819771,11618.337625,647,1599,NaN,0